Repository open-edge-platform/infra-charts, pull requests merged in 2025-06, with the labels that each got.

#64 PUA fix to reduce the startup time
  dkam/Chart.yaml
  infra-onboarding/Chart.yaml
  onboarding-manager/Chart.yaml
Labels: infra-onboarding

#74 chore: infra-core inventory/apiv2 release
  .gitignore
  apiv2/Chart.yaml
  infra-core/Chart.yaml
  inventory/Chart.yaml
Labels: root, infra-core

#71 Update middleware and cleanup of DMT
  amt/Chart.yaml
  amt/charts/mps/Chart.yaml
  amt/charts/mps/templates/secret-job.yaml
  infra-external/Chart.yaml
Labels: infra-external

#76 Releases apiv2 appVersion v2.1.0
  apiv2/Chart.yaml
  infra-core/Chart.yaml
Labels: infra-core

#78 fix:enable ssl with no-verify
  .gitignore
  Makefile
  amt/Chart.yaml
  amt/charts/mps/Chart.yaml
  amt/charts/mps/templates/secrets-cm.yaml
  infra-external/Chart.yaml
Labels: root, infra-external

#75 Amt refresh token + fix upgrade issue
  amt/Chart.yaml
  amt/charts/mps/Chart.yaml
  amt/charts/mps/templates/amt-vault-script.yaml
  amt/charts/mps/templates/clusterPolicy.yaml
  amt/charts/mps/templates/job.yaml
  amt/charts/mps/templates/role.yaml
  amt/charts/mps/templates/secrets-cm.yaml
  amt/charts/mps/values.yaml
  amt/charts/rps/Chart.yaml
  amt/charts/rps/templates/clusterPolicy.yaml
  amt/charts/rps/templates/role.yaml
  infra-external/Chart.yaml
Labels: infra-external

#68 Updates sanity-tests to use apiv2
  .github/workflows/sanity-tests.yml
Labels: CI 🤖

#45 Orchestrator upgrade - integration test
  .github/workflows/sanity-upgrade-test.yml
Labels: CI 🤖, infra-manager

#83 Temporary disable infra-external
  .github/workflows/sanity-tests.yml
Labels: CI 🤖

#82 fix: remove deprecated `legacyMode` flag
  dkam/Chart.yaml
  dkam/values.yaml
  infra-onboarding/Chart.yaml
Labels: infra-onboarding

#79 Adds logs to be saved from pods in orch-infra in sanity-tests
  .github/workflows/sanity-tests.yml
Labels: CI 🤖

#87 chore: infra-core inventory/apiv2 and infra-external amt release
  amt/Chart.yaml
  amt/charts/dm-manager/Chart.yaml
  apiv2/Chart.yaml
  infra-core/Chart.yaml
  infra-external/Chart.yaml
  inventory/Chart.yaml
Labels: infra-external, infra-core

#88 fix: add temporary workaround for delayed Vault token creation caused by cron job
  .github/workflows/sanity-tests.yml
  amt/Chart.yaml
  amt/charts/dm-manager/Chart.yaml
  amt/charts/dm-manager/templates/job.yaml
  amt/charts/mps/Chart.yaml
  amt/charts/mps/templates/job.yaml
  amt/charts/mps/templates/role.yaml
  amt/charts/rps/Chart.yaml
  amt/charts/rps/templates/role.yaml
  infra-external/Chart.yaml
Labels: CI 🤖, infra-external

#85 Add Multitenancy Middleware functions for MPS and RPS
  amt/Chart.yaml
  amt/charts/mps/Chart.yaml
  amt/charts/mps/multiTenancyMiddleware.js
  amt/charts/mps/templates/deployment.yaml
  amt/charts/mps/templates/middleware-func-cm.yaml
  amt/charts/rps/Chart.yaml
  amt/charts/rps/multiTenancyMiddleware.js
  amt/charts/rps/templates/deployment.yaml
  amt/charts/rps/templates/middleware-func-cm.yaml
  infra-external/Chart.yaml
Labels: infra-external

#84 Add PXE server charts
  infra-onboarding/Chart.yaml
  infra-onboarding/values.yaml
  pxe-server/Chart.yaml
  pxe-server/README.md
  pxe-server/templates/_helpers.tpl
  pxe-server/templates/configmap.yaml
  pxe-server/templates/deployment.yaml
  pxe-server/values.yaml
Labels: infra-onboarding

#91 Release infra-managers v2.14.0, infra-core v2.16.0
  apiv2/Chart.yaml
  exporter/Chart.yaml
  infra-core/Chart.yaml
  infra-managers/Chart.yaml
  inventory/Chart.yaml
  os-resource-manager/Chart.yaml
  tenant-controller/Chart.yaml
Labels: infra-core, infra-manager

#93 fix: Mount entire volume to PXE server to avoid conflicts with DKAM
  infra-onboarding/Chart.yaml
  pxe-server/Chart.yaml
  pxe-server/templates/deployment.yaml
Labels: infra-onboarding
