Repository open-edge-platform/infra-charts, pull requests merged in 2025-04, with the labels that each got.

#32 fix: ensure pre-merge is passed before setting PR green
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#33 chore: Remove ECR create repository from Makefile
  Makefile
Labels: root

#34 Update DKAM/OM/TinkerActions chart versions
  dkam/Chart.yaml
  infra-onboarding/Chart.yaml
  onboarding-manager/Chart.yaml
  onboarding-manager/values.yaml
Labels: infra-onboarding

#36 feat: Add contributors file
  CONTRIBUTORS.md
Labels: root

#35 chore: Remove useless GOPRIVATE
  .github/workflows/sanity-tests.yml
Labels: CI 🤖
