Repository open-edge-platform/infra-charts, pull requests merged in 2025-05, with the labels that each got.

#39 OpenSSF and License Badge
  .github/workflows/post-merge.yml
  README.md
Labels: root, CI 🤖

#42 Moving the permissions to be per Job
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/pre-merge.yml
  .github/workflows/sanity-tests.yml
Labels: CI 🤖

#46 chore: sort zizmor findings
  .github/workflows/post-merge.yml
  .github/workflows/pre-merge.yml
  .github/workflows/sanity-tests.yml
Labels: CI 🤖

#47 feat: Add new OS profile for Ubuntu 24.04
  infra-managers/Chart.yaml
  os-resource-manager/Chart.yaml
  os-resource-manager/values.yaml
Labels: infra-manager

#49 chore: Make Infra-Onboarding Release v1.30.0
  dkam/Chart.yaml
  infra-onboarding/Chart.yaml
  onboarding-manager/Chart.yaml
Labels: infra-onboarding

#52 Bump version to 1.30.1
  dkam/Chart.yaml
  infra-onboarding/Chart.yaml
  onboarding-manager/Chart.yaml
Labels: infra-onboarding

#54 Releases apiv2 appVersion 0.0.4
  apiv2/Chart.yaml
  infra-core/Chart.yaml
Labels: infra-core

#55 chore: use self hosted update action
  .github/workflows/auto-update.yml
Labels: CI 🤖

#59 Update security policy in DMT charts
  amt/Chart.yaml
  amt/charts/mps/Chart.yaml
  amt/charts/mps/templates/db.yaml
  amt/charts/mps/templates/job.yaml
  amt/charts/mps/templates/secret-job.yaml
  amt/charts/rps/Chart.yaml
  amt/charts/rps/templates/db-job.yaml
  infra-external/Chart.yaml
Labels: infra-external

#65 Add DB type param
  amt/Chart.yaml
  amt/charts/mps/Chart.yaml
  amt/charts/mps/templates/db.yaml
  amt/charts/mps/templates/secrets-cm.yaml
  amt/charts/mps/values.yaml
  amt/charts/rps/Chart.yaml
  amt/charts/rps/templates/db-job.yaml
  amt/charts/rps/values.yaml
  amt/values.yaml
  infra-external/Chart.yaml
Labels: infra-external

#63 Releases apiv2 appversion 0.2.1 and infra-core charts
  apiv2/Chart.yaml
  infra-core/Chart.yaml
Labels: infra-core

#66 fix: APIv2 with camelCase resourceId in the URL path
  apiv2/Chart.yaml
  infra-core/Chart.yaml
Labels: infra-core
