Repository open-edge-platform/infra-charts, pull requests merged in 2025-09, with the labels that each got.

#141 disable wifi support for emt boot kit
  infra-onboarding/Chart.yaml
  tinkerbell/Chart.yaml
  tinkerbell/templates/boot-ipxe-configmap.yaml
Labels: infra-onboarding

#143 Migrate kubectl bitnamilegacy to alpine
  amt/Chart.yaml
  amt/charts/mps/Chart.yaml
  amt/charts/mps/templates/secret-job.yaml
  amt/charts/mps/templates/secrets-cm.yaml
  infra-external/Chart.yaml
Labels: infra-external

#145 Release inv 2.30.4
  infra-core/Chart.yaml
  inventory/Chart.yaml
Labels: infra-core
