Repository open-edge-platform/infra-charts, pull requests merged in 2025-07, with the labels that each got.

#96 Bump OM to 1.37.2
  infra-onboarding/Chart.yaml
  onboarding-manager/Chart.yaml
Labels: infra-onboarding

#99 chore: Remove tmatenko from CODEOWNERS
  .github/CODEOWNERS
Labels: CI 🤖

#104 Update OM to v1.37.5 and release infra-onboarding
  infra-onboarding/Chart.yaml
  onboarding-manager/Chart.yaml
Labels: infra-onboarding

#105 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI 🤖

#108 Bump onboarding manager to 1.37.6
  infra-onboarding/Chart.yaml
  onboarding-manager/Chart.yaml
Labels: infra-onboarding

#106 Add certs for MPS and RPS and ingress-route for DM manager
  amt/Chart.yaml
  amt/charts/dm-manager/Chart.yaml
  amt/charts/dm-manager/templates/service.yaml
  amt/charts/dm-manager/values.yaml
  amt/charts/mps/Chart.yaml
  amt/charts/mps/templates/secrets-cm.yaml
  amt/charts/mps/values.yaml
  amt/charts/rps/Chart.yaml
  amt/charts/rps/values.yaml
  amt/values.yaml
  infra-external/Chart.yaml
Labels: infra-external

#107 feat: Update middleware functions to handle dm-manager API calls
  amt/Chart.yaml
  amt/charts/dm-manager/Chart.yaml
  amt/charts/mps/Chart.yaml
  amt/charts/mps/multiTenancyMiddleware.js
  amt/charts/rps/Chart.yaml
  amt/charts/rps/multiTenancyMiddleware.js
  infra-external/Chart.yaml
Labels: infra-external

#111 OIDC server URL changes
  amt/Chart.yaml
  amt/charts/dm-manager/Chart.yaml
  amt/charts/dm-manager/templates/deployment.yaml
  amt/charts/dm-manager/values.yaml
  infra-external/Chart.yaml
Labels: infra-external, 3.1-RC2

#115 Bump OM, DKAM and infra-config version
  dkam/Chart.yaml
  infra-config/Chart.yaml
  infra-config/values.yaml
  infra-onboarding/Chart.yaml
  onboarding-manager/Chart.yaml
Labels: infra-onboarding, 3.1-RC2

#118 bumping infra-manager, maintenance-manager and os-resource-manager charts for changes done for reverting day2-update change and fixing exisitngCVE updae change
  infra-managers/Chart.yaml
  maintenance-manager/Chart.yaml
  os-resource-manager/Chart.yaml
Labels: infra-manager, 3.1-RC2
